#this is just to test using special vars!
<html>
<center>
  <h1> The hostname of this webserver is {{ ansible_hostname }} </h1>
  <h3> It is running on {{ ansible_os_family }} system </h3>
  <h4> It used the package manager {{ ansible_pkg_mgr }} </h4>
</center>
</html>

